@model IEnumerable<MovieShop.ApplicationCore.Models.MovieCardModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h2 class="mb-4">Top Movies</h2>
    <div class="row">
        @foreach (var movie in Model)
        {
            <partial name="_MovieCard" model="movie" />
        }
    </div>
</div>